<table>
    <tr>
        <td><a href="https://github.com/Dylanluo05/TLDEW-DylanLuo">Home</a></td>
        <td><a href="https://github.com/Dylanluo05/TLDEW-DylanLuo/blob/main/Docs/College%20Board%20TPT%20Notes.md">College Board TPT Notes</a></td>
        <td><a href="https://github.com/Dylanluo05/TLDEW-DylanLuo/blob/main/Docs/Create%20Task%20Project.md">Create Task Project</a></td>
        <td><a href="https://github.com/Dylanluo05/TLDEW-DylanLuo/blob/main/Docs/Data%20Structures%20Project.md">Data Structures Project</a></td>
    </tr>
</table>
